.App {
    text-align: center; 
    padding: 5px;
    margin: 5px; 
    flex-direction: column;
    display: flex; 
    background-color: #a6a6a8;
}

body {
    margin: 0;
    background-color: #a6a6a6;
}